@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply font-ibarra font-bold text-[2.5rem]/[2.625rem] tracking-[-0.36px] desktop:text-[3.125rem]/[3.125rem] text-primary-grayishDarkBlue;
  }

  .heading-normal {
    @apply font-ibarra font-normal text-[2rem]/[2.625rem] tracking-[-0.29px] text-primary-grayishDarkBlue;
  }
  .subheading {
    @apply font-ibarra font-bold text-[2.5rem]/[2.625rem] tracking-[-0.36px] text-primary-grayishDarkBlue;
  }

  .paragraph {
    @apply font-public text-[0.9375rem]/[1.875rem] text-primary-grayishDarkBlue font-normal;
  }

  .label {
    @apply font-public text-[0.8125rem]/[1.875rem] opacity-80 text-primary-grayishDarkBlue font-bold;
  }

  .input-text {
    @apply font-public text-[0.8125rem]/[1.875rem] text-primary-grayishDarkBlue font-normal placeholder:opacity-40;
  }

  .input-field {
    @apply input-text py-2 px-4  bg-primary-grayishDarkBlue bg-opacity-10 border focus:outline-none focus:border-primary-cyan invalid:border-secondary-brightRed
  }

  .small {
    @apply font-public text-base/[1.875rem] text-primary-grayishDarkBlue font-normal opacity-50;
  }
}



/* Josh Comeau CSS Reset*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    min-height: 100vh;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}