---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
	<Header current={'Contact'}/>
	<h1>Hello, Astro!</h1>
</BaseLayout>